/* ===================== */
/* BODY                  */
/* ===================== */

@font-face {
  font-family: "Syntax Ultra Black";
  src: url("assets/fonts/SyntaxUltraBlack.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Syntax Regular";
  src: url("assets/fonts/SyntaxRegular.ttf") format("truetype");
}

body {
  background: white;
  background-size: cover;
  margin: 0;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  font-family: "Syntax Ultra Black", sans-serif;
  font-style: italic;
  letter-spacing: 0.5px;

  position: relative;
}

/* ===================== */
/* BACKGROUND LAYERS     */
/* ===================== */

body::before,
body::after {
  content: "";
  position: fixed;
  inset: 0;

  background-size: cover;
  background-position: center;

  z-index: -2;

  transition: opacity 0.6s ease;
}

/* Background normal */

body::before {
  background-image: url("assets/background/sonic-bg-new-alt.png");
  opacity: 1;
}

/* Dark mode background */

body::after {
  background-image: url("assets/background/sonicbg-darkmode.png");
  opacity: 0;
}

/* Quando dark mode ativa */

body.dark-mode::after {
  opacity: 1;
}

body.dark-mode::before {
  opacity: 0;
}


.song-pool {

    display: flex;
    flex-wrap: wrap;

    gap: 10px;

    margin-top: 20px;

}

.tier-container {

    width: 40%;
    mix-blend-mode: multiply;
    margin: 30px auto;

}

.tier-board {

    display: flex;
    flex-direction: column;

    gap: 8px;

}

.tier-row {

    display: flex;

    min-height: 70px;

}

.tier-label {

    width: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;

    color: white;

}

.tier-dropzone {

    flex: 1;

    display: flex;
    flex-wrap: wrap;

    align-items: center;

    gap: 8px;

    padding: 8px;

    min-height: 70px;

}

.tier-song {

  min-width: 180px;

  padding: 10px;

  border-radius: 12px;

  background:
    linear-gradient(
      145deg,
      rgba(255,255,255,.95),
      rgba(220,240,255,.95)
    );

  border: 2px solid #00aaff;

  color: #0d1b2a;

  text-align: center;

  cursor: grab;

  user-select: none;

  transition: .2s ease;

}

.tier-song:active {

    cursor: grabbing;

}

.tier-song.dragging {

    opacity: .5;

}

.x-tier .tier-label {
    background: #ff2a2a;
}

.ss-tier .tier-label {
    background: #ff7a00;
}

.s-tier .tier-label {
    background: #ffd400;
    color: black;
}

.aa-tier .tier-label {
    background: #15A73A;
}

.a-tier .tier-label {
    background: #1450E0;
}

.b-tier .tier-label {
    background: #7a2fff;
}

.c-tier .tier-label {
    background: #FF7FFE;
}